@use "base/mixins";
@use "sass:math";
@use "variables";

//====================================================================================================
:root {
  --globalAnimDuration: 0.7s;
  --globalAnimDelay: 0.05s;
  // --globalTransitionTiming: cubic-bezier(.67,.17,.51,1.11);
  --globalTransitionTiming: ease;
}

.hero {
  background-color: grey;
  background-image: url('img/hero/hero.webp');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 49px;
  height: mixins.toRem(668);
  @include mixins.adaptiveValue("padding-top", 49, 33);


  @media (max-width:mixins.toEm(variables.$mobile)) {
    // height: mixins.toRem(690);
  }

  &__container {
    max-width: mixins.toRem(1350);

    @media (max-width:mixins.toEm(variables.$mobile)) {
      padding-right: 0;
      padding-left: 0;
    }
  }

  &__logo {
    @include mixins.adaptiveValue("margin-bottom", 54, 25);
    @include mixins.adaptiveValue("width", 139, 94);
  }


  &__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

  }



  &__title {
    font-weight: 700;
    font-size: 69px;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
    margin-bottom: mixins.toRem(19);

    span {
      display: inline-flex;
      align-items: flex-start;
      margin-left: mixins.toRem(35.6);
      gap: mixins.toRem(7.2);
    }


    @include mixins.adaptiveValue("font-size", 69, 32);

    @media (max-width:mixins.toEm(variables.$mobile)) {
      margin-bottom: mixins.toRem(8.8);
    }
  }

  &__star {
    margin-top: mixins.toRem(16.8);
    flex-shrink: 0;
  }

  &__red {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    height: mixins.toRem(111);
    background: var(--red);
    justify-content: center;
  }

  .hero-box__container {
    max-width: 1350px;
    position: absolute;
    bottom: 32px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__slogan {
    font-weight: 400;
    line-height: 130%;
    text-align: center;
    color: var(--grey-light);
    height: mixins.toRem(40);

    @include mixins.adaptiveValue("font-size", 14, 10);
  }

  &__bottles {
    transform: translateY(10px);

    @include mixins.adaptiveValue("width", 427, 175, 1920, variables.$mobile);
    @include mixins.adaptiveValue("height", 393, 194, 1920, variables.$mobile);

    img {
      z-index: 1;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

//====================================================================================================
.ow {
  background-color: var(--white);
  --animDuration: var(--globalAnimDuration);
  --animDelay: var(--globalAnimDelay);

  &__container {
    max-width: mixins.toRem(1152);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: mixins.toRem(128);


    @media (max-width:mixins.toEm(variables.$mobile)) {
      padding-top: mixins.toRem(90);
      padding-bottom: mixins.toRem(90);
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: mixins.toRem(20);

    @media (max-width:mixins.toEm(variables.$mobile)) {
      gap: mixins.toRem(38);
    }
  }


  &__title {
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: center;
    color: var(--red);
    text-wrap: balance;

    @include mixins.adaptiveValue("margin-bottom", 20.8, 30);
    @include mixins.adaptiveValue("font-size", 45, 28);

    @media (max-width:mixins.toEm(variables.$mobile)) {}
  }

  &__text {
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--grey-dark);
    @include mixins.adaptiveValue("margin-bottom", 45, 60);
    @include mixins.adaptiveValue("font-size", 32, 16);
  }

  &__bottles {
    display: flex;
    justify-content: center;
    align-items: center;

    translate: mixins.toRem(4) mixins.toRem(50);
    opacity: 0;


    img {
      translate: var(--x, 0) var(--y, 0);
      z-index: 4;

      &:not(:nth-child(4)) {
        opacity: 0;
      }

      .loaded & {
        transition:
          translate var(--animDuration) ease-in-out calc(var(--animDuration) + var(--animDelay)),
          opacity var(--animDuration) ease-in-out calc(var(--animDuration) + var(--animDelay));
      }

      &:nth-child(1) {
        --x: 335%;
        --y: 2%;
        z-index: 1;
      }

      &:nth-child(2) {
        --x: 216%;
        --y: 2%;
        z-index: 2;
      }

      &:nth-child(3) {
        --x: 112%;
        --y: 2%;
        z-index: 3;
      }

      &:nth-child(5) {
        --x: -102%;
        z-index: 3;
      }

      &:nth-child(6) {
        --x: -214%;
        z-index: 2;
      }

      &:nth-child(7) {
        --x: -333%;
        --y: 2%;
        z-index: 1;
      }

      .loaded ._watcher-view & {
        opacity: 1;

        &:nth-child(1) {
          --x: 169%;
          --y: 2%;
          z-index: 1;
        }

        &:nth-child(2) {
          --x: 112%;
          --y: 2%;
          z-index: 2;
        }

        &:nth-child(3) {
          --x: 61%;
          --y: 2%;
          z-index: 3;
        }

        &:nth-child(5) {
          --x: -49%;
          z-index: 3;
        }

        &:nth-child(6) {
          --x: -102%;
          z-index: 2;
        }

        &:nth-child(7) {
          --x: -172%;
          --y: 2%;
          z-index: 1;
        }

        &:nth-child(4) {
          --x: 0.01px;
          --y: 0.01px;
          z-index: 4;
        }
      }

    }

    .loaded & {
      transition:
        translate var(--animDuration) ease-in-out 0s,
        opacity var(--animDuration) ease-in-out calc(var(--animDuration) * 0.2);
    }

    .loaded ._watcher-view & {
      translate: mixins.toRem(4) 0;
      opacity: 1;
    }
  }

  &__red {
    background: var(--red);
    width: 100%;
    height: mixins.toRem(167);
    margin-top: mixins.toRem(-89);
  }

}

.line {
  background-image: url('img/line/bg.webp');
  background-repeat: no-repeat;
  background-size: cover;

  &__container {
    max-width: mixins.toRem(1350);
    text-align: center;
    @include mixins.adaptiveValue("padding-bottom", 16, 94.8);
  }

  
}


//==========================================================================================

//==========================================================================================
.assort {
  background-color: var(--white);

  &__container {
    max-width: mixins.toRem(1350);

    @include mixins.adaptiveValue("padding-top", 118.8, 100, 1920, variables.$laptop);
    @include mixins.adaptiveValue("padding-bottom", 118.8, 111.12);

    @media (max-width:mixins.toEm(variables.$mobile)) {
      padding-top: 0;
    }
  }

  &__title {
    opacity: 0;
    translate: 0 mixins.toRem(30);
    text-transform: uppercase;
    line-height: math.div(60, 50);
    letter-spacing: -0.02em;
    color: #121212;

    @include mixins.adaptiveValue("margin-bottom", 27.2, 30.4);

    @include mixins.adaptiveValue("font-size", 50, 32);


    .loaded & {
      transition:
        translate var(--globalAnimDuration) var(--globalTransitionTiming),
        opacity var(--globalAnimDuration) var(--globalTransitionTiming);
    }

    .loaded ._watcher-view & {
      opacity: 1;
      translate: 0 0;
    }
  }


  &__track {
    margin-bottom: mixins.toRem(20);
    overflow: visible;
  }

  &__slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light);
    border: mixins.toRem(1) solid var(--light_grey);
    border-radius: mixins.toRem(10);
    padding: mixins.toRem(20);
    // opacity: 0;
    // translate: 0 mixins.toRem(30);
    min-width: 286px;

    @media (max-width:mixins.toEm(variables.$tablet)) {
      // flex: 1 0 mixins.toRem(227);
      scroll-snap-align: start;
    }

    @include mixins.adaptiveValue("gap", 20, 10.8);

    // .loaded & {
    //   transition:
    //     translate var(--globalAnimDuration) var(--globalTransitionTiming),
    //     opacity var(--globalAnimDuration) var(--globalTransitionTiming);

    //   --delay: calc((var(--globalAnimDuration) / 4) * var(--index, 1) + (var(--globalAnimDuration) / 2));
    //   transition-delay: var(--delay);
    // }

    // .loaded ._watcher-view & {
    //   opacity: 1;
    //   translate: 0 0;
    // }
  }

  &__image {
    max-width: mixins.toRem(180);
  }

  &__name {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;
    opacity: 0;
    translate: 0 mixins.toRem(30);
    @include mixins.adaptiveValue("font-size", 25, 20);

    @media (min-width:mixins.toEm(variables.$mobile)) {
      align-items: center;
    }

    @media (max-width:mixins.toEm(1023.98)) {
      display: block;
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {
      align-self: flex-start;
    }

    span {

      &:last-child {
        color: #828080;
      }
    }

    &:not(:last-child) {
      margin-bottom: mixins.toRem(5);
    }

    .loaded & {
      transition:
        translate calc(var(--globalAnimDuration) * 2) var(--globalTransitionTiming),
        opacity calc(var(--globalAnimDuration) * 2) var(--globalTransitionTiming);
    }

    .loaded ._watcher-view & {
      opacity: 1;
      translate: 0 0;
    }
  }

  &__buttons {
    align-self: stretch;
    gap: mixins.toRem(10);
    text-align: center;
    margin-top: auto;
  }

  &__button {
    padding: mixins.toRem(5) mixins.toRem(8);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: mixins.toRem(45);

    @include mixins.adaptiveValue("font-size", 16, 14);

    @media (max-width:mixins.toEm(variables.$laptop)) {
      min-height: mixins.toRem(46);
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {
      min-height: mixins.toRem(44.8);
      padding: 0 mixins.toRem(20);
    }
  }

  &__progress {
    background-color: var(--scrollbar_bg);
    height: mixins.toRem(5);
    border-radius: calc(1px / 0);
    position: relative;
    overflow: hidden;
    opacity: 0;
    translate: 0 mixins.toRem(30);

    .loaded & {
      transition:
        translate var(--globalAnimDuration) var(--globalTransitionTiming),
        opacity var(--globalAnimDuration) var(--globalTransitionTiming);

      transition-delay: 1.1s;
    }

    .loaded ._watcher-view & {
      opacity: 1;
      translate: 0 0;
    }

    i {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background-color: var(--red);
      border-radius: calc(1px / 0);

      .loaded & {
        transition: width 0.3s ease 0s, translate 0.3s ease 0s;
      }
    }
  }
}

//==========================================================================================
.ozon {

  @media (min-width:mixins.toEm(variables.$mobile)) {
    border-radius: mixins.toRem(20) mixins.toRem(20) 0 0;
    background: var(--angularGradient);
    background-size: 100% 200%;
    background-position: 0 100%;
  }

  @media (max-width:mixins.toEm(variables.$mobile)) {
    background: conic-gradient(from 221.46deg at 64.93% 94.59%, #0069FF 0deg, #F1107E 360deg);
    background-size: 300% 150%;
    background-position: 70% 70%;
    border-radius: mixins.toRem(10);
  }


  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: mixins.toRem(85.6);
    padding-left: mixins.toRem(20);
    padding-right: mixins.toRem(20);



    @include mixins.adaptiveValue("padding-top", 65, 50);
    @include mixins.adaptiveValue("gap", 79, 35, 1920, variables.$laptop);

    @media (max-width:mixins.toEm(variables.$laptop)) {
      text-align: center;
      flex-direction: column;
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {
      gap: mixins.toRem(30);
    }
  }

  &__title {
    color: var(--white);
    text-transform: uppercase;
    line-height: math.div(33.8, 26);

    @media (min-width:mixins.toEm(variables.$mobile)) {
      font-weight: 500;
    }

    @include mixins.adaptiveValue("font-size", 32, 26);
  }

  &__button {
    width: 100%;
    max-width: mixins.toRem(427);
    border-radius: mixins.toRem(7.84);

    @include mixins.adaptiveValue("font-size", 32, 18);
    @include mixins.adaptiveValue("height", 69, 58);
  }
}

.footer {
  background-color: var(--red);
  color: var(--light);

  @media (max-width:mixins.toEm(variables.$mobile)) {
    margin-top: -15px;
  }

  &__container {
    display: flex;
    align-items: flex-start;
    gap: mixins.toRem(10);
    justify-content: space-between;
    max-width: mixins.toRem(1350);

    @include mixins.adaptiveValue("padding-top", 80, 39);
    @include mixins.adaptiveValue("padding-bottom", 120, 71);


    @media (max-width:mixins.toEm(variables.$mobile)) {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: mixins.toRem(41);
    }
  }

  &__col {
    display: flex;
    flex-direction: column;

    a {
      display: block;
      font-size: mixins.toRem(24);
      color: var(--white);

      &:not(:last-child) {
        margin-bottom: mixins.toRem(2);
      }
    }

    span {
      font-size: mixins.toRem(14);
      line-height: math.div(24, 14);
      opacity: 0.8;
    }

    p {
      line-height: math.div(24, 16);
      font-size: mixins.toRem(16);

      .footer__year {
        line-height: inherit;
        font-size: inherit;
        opacity: 1;
      }
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {
      &:not(:last-child) {
        margin-bottom: mixins.toRem(9);
      }
    }
  }

  &__logo {
    height: mixins.toRem(57);

    img {
      height: 100%;
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {
      order: -1;
    }
  }
}