@use "base/mixins";
@use "sass:math";
@use "variables";

//====================================================================================================
:root {
  --globalAnimDuration: 0.7s;
  --globalAnimDelay: 0.05s;
  // --globalTransitionTiming: cubic-bezier(.67,.17,.51,1.11);
  --globalTransitionTiming: ease;
}

.hero {
  background-color: grey;
  background-image: url('img/hero/hero.webp');
  /* Для Chrome и Safari */
  background-image: -webkit-image-set(url("img/hero/hero.webp") 1x,
      url("img/hero/hero@2x.webp") 2x,
      url("img/hero/hero@3x.webp") 3x);

  /* Для Firefox */
  background-image: image-set(url("img/hero/hero.webp") type("image/webp") 1x,
      url("img/hero/hero@2x.webp") type("image/webp") 2x,
      url("img/hero/hero@3x.webp") type("image/webp") 3x);
  background-repeat: no-repeat;
  background-position: 70% 0;
  background-size: cover;

  position: relative;
  height: mixins.toRem(668);

  @include mixins.adaptiveValue("padding-top", 49, 33);


  @media (max-width:mixins.toEm(variables.$mobile)) {
    height: mixins.toRem(628);
  }

  @media (max-width:mixins.toEm(variables.$mobileSmall)) {
    height: mixins.toRem(535.2);
    background-position: center;
    background-image: url('img/hero/hero_mobile.webp');
    /* Для Chrome и Safari */
    background-image: -webkit-image-set(url("img/hero/hero_mobile.webp") 1x,
        url("img/hero/hero_mobile@2x.webp") 2x,
        url("img/hero/hero_mobile@3x.webp") 3x);

    /* Для Firefox */
    background-image: image-set(url("img/hero/hero_mobile.webp") type("image/webp") 1x,
        url("img/hero/hero_mobile@2x.webp") type("image/webp") 2x,
        url("img/hero/hero_mobile@3x.webp") type("image/webp") 3x);
  }

  &__container {
    max-width: mixins.toRem(1350);

    @media (max-width:mixins.toEm(variables.$mobile)) {
      padding-right: 0;
      padding-left: 0;
    }
  }

  &__logo {
    @include mixins.adaptiveValue("margin-bottom", 54, 17);
    @include mixins.adaptiveValue("width", 139, 94);
  }


  &__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

  }



  &__title {
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
    margin-bottom: mixins.toRem(19);

    span {
      display: inline-flex;
      align-items: flex-start;
      margin-left: mixins.toRem(35.6);
      gap: mixins.toRem(7.2);
    }


    @include mixins.adaptiveValue("font-size", 69, 32);

    @media (max-width:mixins.toEm(variables.$mobile)) {
      span {
        font-weight: 300;
        margin-left: mixins.toRem(-4.4);
        gap: mixins.toRem(2.4);
      }
    }
  }

  &__star {
    flex-shrink: 0;

    @include mixins.adaptiveValue("margin-top", 16.8, 0);

    @media (max-width:mixins.toEm(variables.$mobile)) {
      width: mixins.toRem(22);
      height: mixins.toRem(22);
    }
  }

  &__icon {
    width: mixins.toRem(204);
    height: mixins.toRem(105);

    @include mixins.adaptiveValue("width", 204, 187);
    @include mixins.adaptiveValue("height", 105, 96.25);

    @media (max-width:mixins.toEm(variables.$mobile)) {
      position: absolute;
      top: 19.5%;
      z-index: 100;

      @include mixins.adaptiveValue("left", 202, 158.65, variables.$mobile)
    }
  }

  &__red {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    height: mixins.toRem(111);
    background: var(--red);
    justify-content: center;

    @media (max-width:mixins.toEm(variables.$mobile)) {
      height: mixins.toRem(162);
      border-radius: mixins.toRem(10);
      bottom: mixins.toRem(-92);
    }
  }

  .hero-box__container {
    max-width: mixins.toRem(1350);
    position: absolute;
    bottom: mixins.toRem(32);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;


    @media (max-width:mixins.toEm(variables.$mobile)) {
      flex-direction: column;
      align-items: flex-start;
      bottom: mixins.toRem(-8);
    }
  }

  &__button {
    @media (max-width:mixins.toEm(variables.$mobile)) {
      order: 2;
      margin-bottom: mixins.toRem(21);
    }
  }

  &__slogan {
    font-weight: 400;
    line-height: 130%;
    text-align: center;
    color: var(--grey-light);
    height: mixins.toRem(40);

    @include mixins.adaptiveValue("font-size", 14, 10);

    @media (max-width:mixins.toEm(variables.$mobile)) {
      letter-spacing: -0.02em;
      order: 3;
    }
  }

  &__bottles {
    transform: translateY(mixins.toRem(10));

    @include mixins.adaptiveValue("width", 427, 194);
    @include mixins.adaptiveValue("height", 393, 232);

    img {
      z-index: 1;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {
      order: 1;
      margin-bottom: mixins.toRem(15);
      transform: translateY(0) translateX(mixins.toRem(-7));
    }
  }
}

//====================================================================================================
.ow {
  background-color: var(--white);
  --animDuration: var(--globalAnimDuration);
  --animDelay: var(--globalAnimDelay);

  &__container {
    max-width: mixins.toRem(1152);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: mixins.toRem(128);


    @media (max-width:mixins.toEm(variables.$mobile)) {
      padding-top: mixins.toRem(90);
      padding-bottom: mixins.toRem(90);
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: mixins.toRem(20);

    @media (max-width:mixins.toEm(variables.$mobile)) {
      gap: mixins.toRem(38);
    }
  }


  &__title {
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: center;
    color: var(--red);
    text-wrap: balance;

    @include mixins.adaptiveValue("margin-bottom", 20.8, 30);
    @include mixins.adaptiveValue("font-size", 45, 28);

    @media (max-width:mixins.toEm(variables.$mobile)) {}
  }

  &__text {
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--grey-dark);
    @include mixins.adaptiveValue("margin-bottom", 45, 60);
    @include mixins.adaptiveValue("font-size", 32, 16);
  }

  &__bottles {
    display: flex;
    justify-content: center;
    align-items: center;

    translate: mixins.toRem(4) mixins.toRem(50);
    opacity: 0;


    img {
      translate: var(--x, 0) var(--y, 0);
      z-index: 4;

      &:not(:nth-child(4)) {
        opacity: 0;
      }

      .loaded & {
        transition:
          translate var(--animDuration) ease-in-out calc(var(--animDuration) + var(--animDelay)),
          opacity var(--animDuration) ease-in-out calc(var(--animDuration) + var(--animDelay));
      }

      &:nth-child(1) {
        --x: 335%;
        --y: 2%;
        z-index: 1;
      }

      &:nth-child(2) {
        --x: 216%;
        --y: 2%;
        z-index: 2;
      }

      &:nth-child(3) {
        --x: 112%;
        --y: 2%;
        z-index: 3;
      }

      &:nth-child(5) {
        --x: -102%;
        z-index: 3;
      }

      &:nth-child(6) {
        --x: -214%;
        z-index: 2;
      }

      &:nth-child(7) {
        --x: -333%;
        --y: 2%;
        z-index: 1;
      }

      .loaded ._watcher-view & {
        opacity: 1;

        &:nth-child(1) {
          --x: 169%;
          --y: 2%;
          z-index: 1;
        }

        &:nth-child(2) {
          --x: 112%;
          --y: 2%;
          z-index: 2;
        }

        &:nth-child(3) {
          --x: 61%;
          --y: 2%;
          z-index: 3;
        }

        &:nth-child(5) {
          --x: -49%;
          z-index: 3;
        }

        &:nth-child(6) {
          --x: -102%;
          z-index: 2;
        }

        &:nth-child(7) {
          --x: -172%;
          --y: 2%;
          z-index: 1;
        }

        &:nth-child(4) {
          --x: 0.01px;
          --y: 0.01px;
          z-index: 4;
        }
      }

    }

    .loaded & {
      transition:
        translate var(--animDuration) ease-in-out 0s,
        opacity var(--animDuration) ease-in-out calc(var(--animDuration) * 0.2);
    }

    .loaded ._watcher-view & {
      translate: mixins.toRem(4) 0;
      opacity: 1;
    }
  }

  &__red {
    background: var(--red);
    width: 100%;
    height: mixins.toRem(167);
    margin-top: mixins.toRem(-89);
  }

}

.line {
  background-image: url('img/line/bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &__container {
    max-width: mixins.toRem(1350);
    text-align: center;
    padding-top: 129px;
    padding-bottom: 128px;
    // @include mixins.adaptiveValue("padding-bottom", 16, 94.8);
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__left,
  &__right {
    position: relative;
    z-index: 100;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__list--left {
    svg {
      position: absolute;
      left: -29px;
      top: -26px;
    }
  }

  &__list--right {

    .line__list-item {
      gap: 18px;
      justify-content: flex-end;
    }

    svg {
      position: absolute;
      right: -41px;
      top: -26px;
    }
  }

  &__list-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    gap: 29px;


  }

  &__list-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9px;
    width: 92px;
    height: 89px;
    box-shadow: 10px 10px 30px 0 rgba(168, 65, 65, 0.4), -10px -10px 30px 0 #ffd2d2, 0 4px 10px 0 rgba(239, 9, 16, 0.65);
    background: var(--red);
    z-index: 1;
  }

  &__list-text {
    max-width: 220px;
    text-align: left;
    z-index: 1;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #535865;

    @include mixins.adaptiveValue("font-size", 20, 16);
  }


  &__center {
    position: absolute;
    left: 50%;
    top: 52%;
    translate: -50% -50%;
    z-index: 10;

    img {
      width: 350px;
      height: 417.5px;
    }

    svg {
      position: absolute;
      left: 50%;
      top: 47%;
      translate: -50% -50%;
      z-index: -1;
    }
  }

}

.tech {

  &__container {
    max-width: mixins.toRem(1350);
    padding-top: 135px;
  }

  &__suptitle {
    font-weight: 500;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--red);
    margin-bottom: 7px;
  }

  &__title {
    font-weight: 400;
    font-size: 50px;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--grey-dark);
    margin-bottom: 5px;

    span {
      color: #121212;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 11px;
  }


  &__count {
    position: relative;
    font-weight: 400;
    font-size: 90px;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--grey);
    opacity: 0.3;
    margin-bottom: 7px;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 5px;
      width: 100%;
      height: 1px;
      background-color: #a9afb9;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    max-width: 537px;
    font-weight: 400;
    font-size: 22px;
    line-height: 130%;
    color: #121212;

    &--mb {
      margin-bottom: 33px;
    }
  }

  &__img-box {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__img-text {
    position: absolute;
    top: 40%;
    left: 50%;
    translate: -50% -50%;
    box-shadow: 0 6px 14px 0 rgba(32, 33, 46, 0.12), 0 26px 26px 0 rgba(34, 35, 44, 0.1), 0 102px 41px 0 rgba(38, 39, 55, 0.02), -4px -4px 7px 0 rgba(239, 241, 243, 0.6);
    background: var(--grey-light);
    border-radius: 15px;
    width: 359px;
    height: 44px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 110%;
    text-align: center;
    color: var(--grey-dark);
  }

  &__conclusion {
    background: var(--red);
    border-radius: 0 0 15px 15px;
    padding: 20px 24px;

    &--text {
      font-weight: 300;
      font-size: 22px;
      line-height: 130%;
      color: var(--white);
      max-width: 714px;

      span {
        font-weight: 700;
      }
    }
  }
}


//==========================================================================================

//==========================================================================================
.assort {
  background-color: var(--white);

  &__container {
    max-width: mixins.toRem(1350);

    @include mixins.adaptiveValue("padding-top", 137, 100, 1920, variables.$laptop);
    @include mixins.adaptiveValue("padding-bottom", 139.6, 111.12);

    @media (max-width:mixins.toEm(variables.$mobile)) {
      padding-top: 0;
    }
  }

  &__suptitle {
    font-weight: 500;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--red);
    margin-bottom: 5px;
  }

  &__title {
    opacity: 0;
    translate: 0 mixins.toRem(30);
    text-transform: uppercase;
    line-height: math.div(60, 50);
    letter-spacing: -0.02em;
    color: #121212;

    @include mixins.adaptiveValue("margin-bottom", 27.2, 30.4);

    @include mixins.adaptiveValue("font-size", 50, 32);


    .loaded & {
      transition:
        translate var(--globalAnimDuration) var(--globalTransitionTiming),
        opacity var(--globalAnimDuration) var(--globalTransitionTiming);
    }

    .loaded ._watcher-view & {
      opacity: 1;
      translate: 0 0;
    }
  }


  &__track {
    margin-bottom: mixins.toRem(26.4);
    overflow: visible;
  }

  &__slide {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--light);
    border: mixins.toRem(1) solid var(--light_grey);
    border-radius: mixins.toRem(10);
    padding: mixins.toRem(20);
    // opacity: 0;
    // translate: 0 mixins.toRem(30);
    min-width: 315px;

    @media (max-width:mixins.toEm(variables.$tablet)) {
      // flex: 1 0 mixins.toRem(227);
      scroll-snap-align: start;
    }

    &:nth-child(1) {
      @include mixins.adaptiveValue("gap", 11, 10.8);
    }

    @include mixins.adaptiveValue("gap", 21, 10.8);
    // .loaded & {
    //   transition:
    //     translate var(--globalAnimDuration) var(--globalTransitionTiming),
    //     opacity var(--globalAnimDuration) var(--globalTransitionTiming);

    //   --delay: calc((var(--globalAnimDuration) / 4) * var(--index, 1) + (var(--globalAnimDuration) / 2));
    //   transition-delay: var(--delay);
    // }

    // .loaded ._watcher-view & {
    //   opacity: 1;
    //   translate: 0 0;
    // }
  }

  &__image {
    max-width: mixins.toRem(180);
  }

  &__name {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;
    opacity: 0;
    translate: 0 mixins.toRem(30);
    @include mixins.adaptiveValue("font-size", 25, 20);

    @media (min-width:mixins.toEm(variables.$mobile)) {
      align-items: center;
    }

    @media (max-width:mixins.toEm(1023.98)) {
      display: block;
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {
      align-self: flex-start;
    }

    span {

      &:last-child {
        color: #828080;
      }
    }

    &:not(:last-child) {
      margin-bottom: mixins.toRem(5);
    }

    .loaded & {
      transition:
        translate calc(var(--globalAnimDuration) * 2) var(--globalTransitionTiming),
        opacity calc(var(--globalAnimDuration) * 2) var(--globalTransitionTiming);
    }

    .loaded ._watcher-view & {
      opacity: 1;
      translate: 0 0;
    }
  }

  &__buttons {
    align-self: stretch;
    gap: mixins.toRem(10);
    text-align: center;
    margin-top: auto;
  }

  &__button {
    padding: mixins.toRem(5) mixins.toRem(17.6);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;

    @include mixins.adaptiveValue("font-size", 14, 14);

    @media (max-width:mixins.toEm(variables.$laptop)) {
      min-height: mixins.toRem(46);
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {
      min-height: mixins.toRem(44.8);
      padding: 0 mixins.toRem(20);
    }
  }

  &__progress {
    background-color: var(--scrollbar_bg);
    height: mixins.toRem(5);
    border-radius: calc(1px / 0);
    position: relative;
    overflow: hidden;
    opacity: 0;
    translate: 0 mixins.toRem(30);

    .loaded & {
      transition:
        translate var(--globalAnimDuration) var(--globalTransitionTiming),
        opacity var(--globalAnimDuration) var(--globalTransitionTiming);

      transition-delay: 1.1s;
    }

    .loaded ._watcher-view & {
      opacity: 1;
      translate: 0 0;
    }

    i {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background-color: var(--red);
      border-radius: calc(1px / 0);

      .loaded & {
        transition: width 0.3s ease 0s, translate 0.3s ease 0s;
      }
    }
  }
}

//==========================================================================================
.ozon {
  @media (min-width:mixins.toEm(variables.$mobile)) {
    border-radius: mixins.toRem(20) mixins.toRem(20) 0 0;
    background: var(--angularGradient);
    background-size: 100% 200%;
    background-position: 0 100%;
  }

  @media (max-width:mixins.toEm(variables.$mobile)) {
    background: conic-gradient(from 221.46deg at 64.93% 94.59%, #0069FF 0deg, #F1107E 360deg);
    background-size: 300% 150%;
    background-position: 70% 70%;
    border-radius: mixins.toRem(10);
  }


  &__container {
    max-width: mixins.toRem(1250);
    padding-bottom: mixins.toRem(96.8);
    padding-left: mixins.toRem(20);
    padding-right: mixins.toRem(20);



    @include mixins.adaptiveValue("padding-top", 69.8, 50);

    @media (max-width:mixins.toEm(variables.$laptop)) {
      text-align: center;
    }

  }

  &__img {
    position: relative;
    width: 559px;

    svg,
    img {
      position: absolute;
      translate: -50% -50%;
    }

    svg {
      top: 52%;
      left: 55%;
    }

    img {
      top: 63%;
      left: 58%;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__box {
    display: flex;
    flex-direction: column;
    transform: translateX(mixins.toRem(55));
  }

  &__title {
    color: var(--white);
    text-transform: uppercase;
    font-weight: 400;
    line-height: 130%;
    margin-bottom: 35px;

    @include mixins.adaptiveValue("font-size", 50, 26);
  }

  &__text {
    font-weight: 400;
    font-size: 28px;
    line-height: 130%;
    color: var(--white);
    margin-bottom: 20px;
    max-width: mixins.toRem(650);

    @include mixins.adaptiveValue("font-size", 28, 16);

    @media (max-width:mixins.toEm(variables.$mobile)) {
      span {
        font-weight: 700;
      }
    }
  }

  &__button {
    width: 100%;
    max-width: mixins.toRem(427);
    border-radius: mixins.toRem(8);

    @include mixins.adaptiveValue("font-size", 22, 18);
    @include mixins.adaptiveValue("height", 58, 47);
  }
}

.footer {
  background-color: var(--red);
  color: var(--light);

  @media (max-width:mixins.toEm(variables.$mobile)) {
    margin-top: -15px;
  }

  &__container {
    display: flex;
    align-items: flex-start;
    gap: mixins.toRem(10);
    justify-content: space-between;
    max-width: mixins.toRem(1350);

    @include mixins.adaptiveValue("padding-top", 80, 39);
    @include mixins.adaptiveValue("padding-bottom", 120, 71);


    @media (max-width:mixins.toEm(variables.$mobile)) {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: mixins.toRem(41);
    }
  }

  &__col {
    display: flex;
    flex-direction: column;

    &:nth-child(3) {
      align-items: flex-end;
    }

    a {
      display: block;
      font-size: mixins.toRem(24);
      color: var(--white);

      &:not(:last-child) {
        margin-bottom: mixins.toRem(2);
      }
    }

    span {
      font-size: mixins.toRem(14);
      line-height: math.div(24, 14);
      opacity: 0.8;
    }

    p {
      line-height: math.div(24, 16);
      font-size: mixins.toRem(16);

      .footer__year {
        line-height: inherit;
        font-size: inherit;
        opacity: 1;
      }
    }


    @media (max-width:mixins.toEm(variables.$mobile)) {
      &:not(:last-child) {
        margin-bottom: mixins.toRem(9);
      }
    }
  }

  &__logo {
    height: mixins.toRem(57);

    img {
      height: 100%;
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {
      order: -1;
    }
  }
}