@use "base/mixins";
@use "sass:math";
@use "variables";

//====================================================================================================
:root {
  --globalAnimDuration: 0.7s;
  --globalAnimDelay: 0.05s;
  // --globalTransitionTiming: cubic-bezier(.67,.17,.51,1.11);
  --globalTransitionTiming: ease;
}

.hero {
  background-color: grey;
  background-image: url('img/hero/hero.webp');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 49px;
  height: mixins.toRem(668);
  @include mixins.adaptiveValue("padding-top", 49, 33);


  @media (max-width:mixins.toEm(variables.$mobile)) {
    // height: mixins.toRem(690);
  }

  &__container {
    max-width: mixins.toRem(1350);

    @media (max-width:mixins.toEm(variables.$mobile)) {
      padding-right: 0;
      padding-left: 0;
    }
  }

  &__logo {
    @include mixins.adaptiveValue("margin-bottom", 54, 25);
    @include mixins.adaptiveValue("width", 139, 94);
  }


  &__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

  }



  &__title {
    font-weight: 700;
    font-size: 69px;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
    margin-bottom: mixins.toRem(19);

    span {
      display: inline-flex;
      align-items: flex-start;
      margin-left: mixins.toRem(35.6);
      gap: mixins.toRem(7.2);
    }


    @include mixins.adaptiveValue("font-size", 69, 32);

    @media (max-width:mixins.toEm(variables.$mobile)) {
      margin-bottom: mixins.toRem(8.8);
    }
  }

  &__star {
    margin-top: mixins.toRem(16.8);
    flex-shrink: 0;
  }

  &__red {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    height: mixins.toRem(111);
    background: var(--red);
    justify-content: center;
  }

  .hero-box__container {
    max-width: 1350px;
    position: absolute;
    bottom: 32px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__slogan {
    font-weight: 400;
    line-height: 130%;
    text-align: center;
    color: var(--grey-light);
    height: mixins.toRem(40);

    @include mixins.adaptiveValue("font-size", 14, 10);
  }

  &__bottles {
    transform: translateY(10px);

    @include mixins.adaptiveValue("width", 427, 175, 1920, variables.$mobile);
    @include mixins.adaptiveValue("height", 393, 194, 1920, variables.$mobile);

    img {
      z-index: 1;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

//====================================================================================================
.ow {
  background-color: var(--white);
  --animDuration: var(--globalAnimDuration);
  --animDelay: var(--globalAnimDelay);

  &__container {
    max-width: mixins.toRem(1152);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: mixins.toRem(128);


    @media (max-width:mixins.toEm(variables.$mobile)) {
      padding-top: mixins.toRem(90);
      padding-bottom: mixins.toRem(90);
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: mixins.toRem(20);

    @media (max-width:mixins.toEm(variables.$mobile)) {
      gap: mixins.toRem(38);
    }
  }


  &__title {
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: center;
    color: var(--red);
    text-wrap: balance;

    @include mixins.adaptiveValue("margin-bottom", 20.8, 30);
    @include mixins.adaptiveValue("font-size", 45, 28);

    @media (max-width:mixins.toEm(variables.$mobile)) {}
  }

  &__text {
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--grey-dark);
    @include mixins.adaptiveValue("margin-bottom", 45, 60);
    @include mixins.adaptiveValue("font-size", 32, 16);
  }

  &__bottles {
    display: flex;
    justify-content: center;
    align-items: center;

    translate: mixins.toRem(4) mixins.toRem(50);
    opacity: 0;


    img {
      translate: var(--x, 0) var(--y, 0);
      z-index: 4;

      &:not(:nth-child(4)) {
        opacity: 0;
      }

      .loaded & {
        transition:
          translate var(--animDuration) ease-in-out calc(var(--animDuration) + var(--animDelay)),
          opacity var(--animDuration) ease-in-out calc(var(--animDuration) + var(--animDelay));
      }

      &:nth-child(1) {
        --x: 335%;
        --y: 2%;
        z-index: 1;
      }

      &:nth-child(2) {
        --x: 216%;
        --y: 2%;
        z-index: 2;
      }

      &:nth-child(3) {
        --x: 112%;
        --y: 2%;
        z-index: 3;
      }

      &:nth-child(5) {
        --x: -102%;
        z-index: 3;
      }

      &:nth-child(6) {
        --x: -214%;
        z-index: 2;
      }

      &:nth-child(7) {
        --x: -333%;
        --y: 2%;
        z-index: 1;
      }

      .loaded ._watcher-view & {
        opacity: 1;

        &:nth-child(1) {
          --x: 169%;
          --y: 2%;
          z-index: 1;
        }

        &:nth-child(2) {
          --x: 112%;
          --y: 2%;
          z-index: 2;
        }

        &:nth-child(3) {
          --x: 61%;
          --y: 2%;
          z-index: 3;
        }

        &:nth-child(5) {
          --x: -49%;
          z-index: 3;
        }

        &:nth-child(6) {
          --x: -102%;
          z-index: 2;
        }

        &:nth-child(7) {
          --x: -172%;
          --y: 2%;
          z-index: 1;
        }

        &:nth-child(4) {
          --x: 0.01px;
          --y: 0.01px;
          z-index: 4;
        }
      }

    }

    .loaded & {
      transition:
        translate var(--animDuration) ease-in-out 0s,
        opacity var(--animDuration) ease-in-out calc(var(--animDuration) * 0.2);
    }

    .loaded ._watcher-view & {
      translate: mixins.toRem(4) 0;
      opacity: 1;
    }
  }

  &__red {
    background: var(--red);
    width: 100%;
    height: mixins.toRem(167);
    margin-top: mixins.toRem(-89);
  }

}

.line {
  background-color: var(--white);

  &__container {
    max-width: mixins.toRem(1350);
    text-align: center;
    @include mixins.adaptiveValue("padding-bottom", 117.2, 94.8);
  }

  &__title {
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--black);


    @include mixins.adaptiveValue("font-size", 45, 32);
    @include mixins.adaptiveValue("margin-bottom", 11, 11);


  }

  &__subtitle {
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -0.02em;
    color: var(--grey-dark);
    max-width: mixins.toRem(554);
    margin: 0 auto;



    @include mixins.adaptiveValue("font-size", 24, 16);
    @include mixins.adaptiveValue("margin-bottom", 43.6, 33.4);

    @media (max-width:mixins.toEm(variables.$mobileSmall)) {
      max-width: mixins.toRem(345);
    }


  }

  &__content {
    display: flex;
    align-items: flex-end;

    @include mixins.adaptiveValue("gap", 69, 16, 1920, variables.$laptop);

    @media (max-width:mixins.toEm(variables.$tablet)) {
      flex-direction: column;
      align-items: center;
      gap: mixins.toRem(30);
    }
  }


  &__left {
    flex: 1 1 54%;
    display: flex;
    align-items: end;

    @media (max-width:mixins.toEm(variables.$laptop)) {
      flex: 1 1 50%;
    }

    @media (min-width:mixins.toEm(variables.$maxWidth)) {
      img {
        width: mixins.toRem(646);
        height: mixins.toRem(419);
      }
    }
  }

  &__right {
    flex: 1 1 50%;

    @media (max-width:mixins.toEm(variables.$tablet)) {
      width: 100%;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    @include mixins.adaptiveValue("gap", 30, 23, 1920, variables.$tablet);

    @media (max-width:mixins.toEm(variables.$mobile)) {
      gap: 19.8px;
    }
  }

  &__list-item {
    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        z-index: #{4 - $i}; // Добавляем обратный порядок z-index (3, 2, 1)
      }
    }

    position: relative;
    height: mixins.toRem(113);

    @include mixins.adaptiveValue("height", 113, 88, 1920, variables.$tablet);

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      border-radius: 50%;
      z-index: 100;
      box-shadow: 9px 10px 16px 0 rgba(13, 39, 80, 0.16), inset -7px -7px 8px 0 rgba(255, 255, 255, 0.64);
      opacity: 0;
      transition: opacity 0.4s ease;

      @include mixins.adaptiveValue("width", 113, 87, 1920, variables.$tablet);
      @include mixins.adaptiveValue("height", 113, 87, 1920, variables.$tablet);

      @media (max-width:mixins.toEm(variables.$mobile)) {
        width: mixins.toRem(93);
        height: mixins.toRem(93);
      }
    }

    &:focus-visible::after,
    &:hover::after,
    &:active::after {
      opacity: 1;
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {
      height: mixins.toRem(96);
    }

  }

  &__rectangle {
    display: flex;
    align-items: center;
    position: absolute;
    left: mixins.toRem(98);
    right: 0;
    top: 50%;
    height: 100%;
    transform: translateY(-50%);
    background-color: var(--grey-light);
    border-radius: mixins.toRem(15);
    padding-right: mixins.toRem(20);
    @include mixins.adaptiveValue("border-radius", 15, 10);
    @include mixins.adaptiveValue("padding-left", 85, 42.8, variables.$tablet);

    @media (max-width:mixins.toEm(variables.$mobile)) {
      height: mixins.toRem(82);
      left: mixins.toRem(85);
    }
  }

  &__circle-box {
    position: absolute;
    height: mixins.toRem(136);
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: white;
    z-index: 1;

    @include mixins.adaptiveValue("width", 153, 123, 1920, variables.$tablet);

    @media (max-width:mixins.toEm(variables.$mobile)) {
      width: mixins.toRem(107);
      height: mixins.toRem(121);
    }
  }

  &__circle {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--grey-light);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);

    @include mixins.adaptiveValue("width", 113, 87, 1920, variables.$tablet);
    @include mixins.adaptiveValue("height", 113, 87, 1920, variables.$tablet);

    @media (max-width:mixins.toEm(variables.$mobile)) {
      width: mixins.toRem(93);
      height: mixins.toRem(93);
    }
  }

  &__text {
    font-weight: 400;
    line-height: 130%;
    color: #121212;
    text-align: left;

    @include mixins.adaptiveValue("font-size", 22, 16, 1920, variables.$laptop);
  }

}

//==========================================================================================
.components {
  background-color: var(--white);

  &__container {
    max-width: mixins.toRem(1350);
    text-align: center;

    @include mixins.adaptiveValue("padding-bottom", 126.8, 88.4);
  }

  &__title {
    line-height: 120%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: center;
    color: var(--black);


    @include mixins.adaptiveValue("font-size", 45, 32);
    @include mixins.adaptiveValue("margin-bottom", 11, 5.5);
  }

  &__subtitle {
    line-height: 130%;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--grey-dark);


    @include mixins.adaptiveValue("font-size", 24, 16);
    @include mixins.adaptiveValue("margin-bottom", 43.6, 35);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    @include mixins.adaptiveValue("gap", 17.8, 28.8);
  }

  &__top {
    display: flex;
    min-height: mixins.toRem(297);
    justify-content: space-between;
    position: relative;

    @media (max-width:mixins.toEm(variables.$laptop)) {
      min-height: mixins.toRem(241);
    }

    @media (max-width:mixins.toEm(variables.$tablet)) {
      flex-direction: column;
      gap: mixins.toRem(136);
    }
  }

  &__top>* {

    flex: 0 1 mixins.toRem(597);
    border-radius: mixins.toRem(20);

    @media (max-width:mixins.toEm(variables.$laptop)) {
      flex: 0 1 mixins.toRem(457);
    }

    @media (max-width:mixins.toEm(variables.$tablet)) {
      flex: none;
    }
  }


  &__left {
    background: linear-gradient(168deg, #056370 42%, #eff1f3 100.00%);
    padding-top: mixins.toRem(18);
    padding-left: mixins.toRem(24);

    @media (max-width:mixins.toEm(variables.$tablet)) {
      flex: 1 1 mixins.toRem(422);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: mixins.toRem(30);
      padding-left: mixins.toRem(15);
      padding-right: mixins.toRem(15);
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    margin-bottom: mixins.toRem(10);

    @include mixins.adaptiveValue("gap", 10, 6);
    @include mixins.adaptiveValue("margin-bottom", 7, 20);

    @media (max-width:mixins.toEm(variables.$laptop)) {
      img {
        width: mixins.toRem(141);
      }
    }

    @media (max-width:mixins.toEm(variables.$tablet)) {
      img {
        width: auto;
      }
    }

    @media (max-width:mixins.toEm(variables.$mobileSmall)) {
      align-self: flex-start;
      align-items: flex-start;
    }
  }

  &__box-text {
    text-align: left;
  }

  &__span {
    color: var(--white);
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.02em;
    @include mixins.adaptiveValue("font-size", 22, 16);
  }

  &__heading {
    text-align: left;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: var(--white);
    @include mixins.adaptiveValue("font-size", 40, 32);
  }

  &__left-text {
    font-weight: 400;
    font-size: mixins.toRem(16);
    line-height: 140%;
    color: var(--white);
    text-align: left;
    max-width: mixins.toRem(466);

    @media (max-width:mixins.toEm(variables.$laptop)) {
      font-size: mixins.toRem(14);
      max-width: mixins.toRem(360);
    }

    @media (max-width:mixins.toEm(variables.$tablet)) {
      font-size: mixins.toRem(18);
    }

  }

  &__right-text {
    font-weight: 400;
    font-size: mixins.toRem(16);
    line-height: 140%;
    max-width: mixins.toRem(466);
    color: #000;
    text-align: center;

    @media (max-width:mixins.toEm(variables.$laptop)) {
      font-size: mixins.toRem(14);
      max-width: mixins.toRem(360);
    }

    @media (max-width:mixins.toEm(variables.$tablet)) {
      font-size: mixins.toRem(18);
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {
      font-size: mixins.toRem(16);
    }
  }

  &__right {
    position: relative;

    @media (max-width:mixins.toEm(variables.$tablet)) {
      flex: 1 1 397px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__video {
    border-radius: inherit;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    position: absolute;
    top: 53px;
    right: 104px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width:mixins.toEm(variables.$tablet)) {
      top: auto;
      right: auto;
    }
  }

  &__right-title {
    font-weight: 400;
    font-size: mixins.toRem(32);
    line-height: 130%;
    text-align: center;
    color: #121212;
    margin-bottom: 20px;

    @media (max-width:mixins.toEm(variables.$laptop)) {
      font-size: mixins.toRem(24);
    }

    @media (max-width:mixins.toEm(variables.$tablet)) {
      font-size: mixins.toRem(32);
      margin-top: mixins.toRem(42);
    }
  }

  &__bottom {
    display: flex;

    @media (max-width:mixins.toEm(variables.$mobile)) {
      flex-direction: column;
    }

    @include mixins.adaptiveValue("gap", 20, 29);
  }

  &__bottom>* {
    flex: 1 1 calc(50% - 20px);

    @media (max-width:mixins.toEm(variables.$mobile)) {
      flex: 1 1 100%;
    }
  }

  &__bottom-item {
    background: var(--grey-light);
    display: flex;
    gap: 20px;
    border-radius: mixins.toRem(15);

    @include mixins.adaptiveValue("padding", 24, 20);

    @media (max-width:mixins.toEm(variables.$mobile)) {
      flex-direction: column-reverse;
      padding-top: mixins.toRem(13);
      padding-right: mixins.toRem(19);
    }

    @media (max-width:mixins.toEm(variables.$mobileSmall)) {
      border-radius: mixins.toRem(10);
    }
  }

  &__bottom-item-img {
    max-width: none;

    @media (max-width:mixins.toEm(variables.$laptop)) {
      width: 80px;
      height: 80px;
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {
      width: 100%;
      height: auto;
    }

    @media (max-width:mixins.toEm(variables.$mobileSmall)) {
      height: auto;
    }
  }

  &__bottom-item-box {
    display: flex;
    flex-direction: column;
    gap: 13px;
    text-align: left;
    max-width: mixins.toRem(427);

    @media (max-width:mixins.toEm(variables.$mobile)) {
      max-width: none;
    }
  }

  &__bottom-item-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #121212;

    @media (max-width:mixins.toEm(variables.$laptop)) {
      font-size: mixins.toRem(20);
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {
      font-size: mixins.toRem(24);
    }
  }

  &__bottom-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.01em;
    color: #000;

    @media (max-width:mixins.toEm(variables.$laptop)) {
      font-size: mixins.toRem(14);
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {
      font-size: mixins.toRem(16);
    }
  }

  &__disclaimer {
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -0.02em;
    color: var(--grey);
    text-align: left;

    @include mixins.adaptiveValue("font-size", 14, 10);

    @media (max-width:mixins.toEm(variables.$mobile)) {
      margin-top: -12px;
    }
  }
}

.middle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: white;
  top: 48.1%;
  left: 51%;
  width: mixins.toRem(304);
  height: mixins.toRem(304);
  transform: translate(-50%, -50%);
  z-index: 100;

  &__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-weight: 500;
    font-size: mixins.toRem(14);
    line-height: 120%;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--white);

    border: 1px solid #e3e3e3;
    border-radius: mixins.toRem(100);
    padding: mixins.toRem(8) mixins.toRem(16);
    opacity: 0.7;
    background-color: transparent;
    transition: opacity 0.4s;

    &:hover {
      opacity: 1;
    }

    @media (max-width:mixins.toEm(variables.$laptop)) {
      font-size: mixins.toRem(11);
      padding: mixins.toRem(6) mixins.toRem(12);
      opacity: 1;
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {
      padding: mixins.toRem(8) mixins.toRem(16);
      font-size: mixins.toRem(14);
      opacity: 1;
    }
  }

  @media (max-width:mixins.toEm(variables.$laptop)) {
    width: mixins.toRem(250);
    height: mixins.toRem(250);

    top: 50%;
    left: 50%;
  }

  @media (max-width:mixins.toEm(variables.$mobile)) {
    width: mixins.toRem(282);
    height: mixins.toRem(285);
    top: 52%;
    left: 50%;
  }

  &__circle {
    transform-origin: center;
    animation: circle-rotate 15s linear infinite;
  }

  @keyframes circle-rotate {
    from {
      transform: rotate(0);
    }

    to {
      transform: rotate(360deg);
    }
  }


  &__red-line {
    stroke-dasharray: 235;
    stroke-dashoffset: 235;
  }

  &__text {
    transform: rotate(-180deg);
    transform-origin: center;
  }

  &__line {
    width: 0;
  }

  &__grey {
    opacity: 0;
  }

  &__light {
    opacity: 0;
  }

  &__yellow {
    transform-origin: center;
    transform: scale(0);

  }

  @keyframes yellow {
    to {
      transform: scale(1);
    }
  }

  @keyframes grey {
    to {
      opacity: 1;
    }
  }

  @keyframes light {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes text {
    to {
      transform: rotate(0);
    }
  }




  @keyframes line {
    to {
      width: 169.816px;
    }
  }

}

//==========================================================================================
.evidence {
  background: var(--grey-light);

  @media (max-width:mixins.toEm(variables.$laptop)) {
    background-color: var(--white);
  }

  &__container {
    padding-top: mixins.toRem(59.2);
    padding-bottom: mixins.toRem(70);
    max-width: mixins.toRem(1350);

    @media (max-width:mixins.toEm(variables.$laptop)) {
      padding-top: 0;
      padding-bottom: mixins.toRem(90.8);
    }
  }

  &__title {
    max-width: 856px;
    margin: 0 auto;
    font-weight: 400;

    line-height: math.div(60, 50);
    text-transform: uppercase;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--black);

    @include mixins.adaptiveValue("font-size", 45, 32);
    @include mixins.adaptiveValue("margin-bottom", 10.8, 6);


  }

  &__subtitle {
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--grey-dark);

    margin-bottom: 43px;

    @include mixins.adaptiveValue("font-size", 24, 16);


  }

  &__body {
    display: flex;
    gap: 20px;
  }

  &__body>* {
    flex: 1 1 calc(50% - 20px);
  }

  &__left {

    @media (max-width:mixins.toEm(variables.$mobile)) {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__mileage {
    margin-top: -14px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 35px;

    @include mixins.adaptiveValue("margin-bottom", 35, 15);

    @media (max-width:mixins.toEm(variables.$mobile)) {
      flex-direction: column;
      align-self: flex-start;
      gap: 0;
    }
  }

  &__km {
    font-weight: 400;
    font-size: mixins.toRem(60);
    line-height: 120%;
    letter-spacing: -0.02em;
    color: var(--red);

    @media (max-width:mixins.toEm(variables.$laptop)) {
      @include mixins.adaptiveValue("font-size", 45, 39, variables.$laptop, variables.$mobile);
    }

  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: var(--grey-dark);

    @media (max-width:mixins.toEm(variables.$laptop)) {
      @include mixins.adaptiveValue("font-size", 16, 14, variables.$laptop, variables.$mobile);
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {
      color: #121212;
    }

  }


  &__result {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: var(--grey-dark);
    margin-bottom: 20px;

    span {
      display: inline-block;
      color: var(--red);
      @include mixins.adaptiveValue("margin-bottom", 8, 3);
    }

    @media (max-width:mixins.toEm(variables.$laptop)) {
      @include mixins.adaptiveValue("font-size", 18, 16, variables.$laptop, variables.$mobile);
    }


  }

  &__btn {
    width: 100%;
    line-height: 130%;
    text-align: center;

    @include mixins.adaptiveValue("font-size", 20, 12);
  }

  &__img {
    height: 100%;
    width: 100%;

    @media (max-width:mixins.toEm(variables.$mobile)) {
      height: auto;
    }
  }

  &__img-mobile {
    width: auto;
    margin-bottom: mixins.toRem(15);
  }
}

//==========================================================================================
.assort {
  background-color: var(--white);

  &__container {
    max-width: mixins.toRem(1350);
    position: relative;

    @include mixins.adaptiveValue("padding-top", 118.8, 100, 1920, variables.$laptop);
    @include mixins.adaptiveValue("padding-bottom", 118.8, 111.12);

    @media (max-width:mixins.toEm(variables.$mobile)) {
      padding-top: 0;
    }
  }

  &__title {
    opacity: 0;
    translate: 0 mixins.toRem(30);
    text-transform: uppercase;
    line-height: math.div(60, 50);
    letter-spacing: -0.02em;
    color: #121212;

    @include mixins.adaptiveValue("margin-bottom", 27.2, 30.4);

    @include mixins.adaptiveValue("font-size", 50, 32);


    .loaded & {
      transition:
        translate var(--globalAnimDuration) var(--globalTransitionTiming),
        opacity var(--globalAnimDuration) var(--globalTransitionTiming);
    }

    .loaded ._watcher-view & {
      opacity: 1;
      translate: 0 0;
    }
  }


  &__list {

    @include mixins.adaptiveValue("column-gap", 20, 10);

    @media (min-width:mixins.toEm(variables.$mobile)) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width:mixins.toEm(variables.$tablet)) {
      display: flex;
      padding-bottom: mixins.toRem(5);
      overflow-x: auto;
      overflow-y: hidden;
      scroll-snap-type: x mandatory;
      margin-right: mixins.toRem(-15);
      padding-right: mixins.toRem(15);

      &::-webkit-scrollbar {
        height: mixins.toRem(3);
        display: none;
      }
    }
  }

  &__slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light);
    border: mixins.toRem(1) solid var(--light_grey);
    border-radius: mixins.toRem(10);
    padding: mixins.toRem(20);
    // opacity: 0;
    // translate: 0 mixins.toRem(30);
    min-width: 286px;

    @media (max-width:mixins.toEm(variables.$tablet)) {
      // flex: 1 0 mixins.toRem(227);
      scroll-snap-align: start;
    }

    @include mixins.adaptiveValue("gap", 20, 10.8);

    // .loaded & {
    //   transition:
    //     translate var(--globalAnimDuration) var(--globalTransitionTiming),
    //     opacity var(--globalAnimDuration) var(--globalTransitionTiming);

    //   --delay: calc((var(--globalAnimDuration) / 4) * var(--index, 1) + (var(--globalAnimDuration) / 2));
    //   transition-delay: var(--delay);
    // }

    // .loaded ._watcher-view & {
    //   opacity: 1;
    //   translate: 0 0;
    // }
  }

  &__image {
    max-width: mixins.toRem(180);
  }

  &__name {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;
    opacity: 0;
    translate: 0 mixins.toRem(30);
    @include mixins.adaptiveValue("font-size", 25, 20);

    @media (min-width:mixins.toEm(variables.$mobile)) {
      align-items: center;
    }

    @media (max-width:mixins.toEm(1023.98)) {
      display: block;
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {
      align-self: flex-start;
    }

    span {

      &:last-child {
        color: #828080;
      }
    }

    &:not(:last-child) {
      margin-bottom: mixins.toRem(5);
    }

    .loaded & {
      transition:
        translate calc(var(--globalAnimDuration) * 2) var(--globalTransitionTiming),
        opacity calc(var(--globalAnimDuration) * 2) var(--globalTransitionTiming);
    }

    .loaded ._watcher-view & {
      opacity: 1;
      translate: 0 0;
    }
  }

  &__buttons {
    align-self: stretch;
    gap: mixins.toRem(10);
    text-align: center;
    margin-top: auto;
  }

  &__button {
    padding: mixins.toRem(5) mixins.toRem(8);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: mixins.toRem(45);

    @include mixins.adaptiveValue("font-size", 16, 14);

    @media (max-width:mixins.toEm(variables.$laptop)) {
      min-height: mixins.toRem(46);
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {
      min-height: mixins.toRem(44.8);
      padding: 0 mixins.toRem(20);
    }
  }

  &__progress {
    background-color: var(--scrollbar_bg);
    height: mixins.toRem(5);
    border-radius: calc(1px / 0);
    position: relative;
    overflow: hidden;
    opacity: 0;
    translate: 0 mixins.toRem(30);

    .loaded & {
      transition:
        translate var(--globalAnimDuration) var(--globalTransitionTiming),
        opacity var(--globalAnimDuration) var(--globalTransitionTiming);

      transition-delay: 1.1s;
    }

    .loaded ._watcher-view & {
      opacity: 1;
      translate: 0 0;
    }

    i {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background-color: var(--red);
      border-radius: calc(1px / 0);

      .loaded & {
        transition: width 0.3s ease 0s, translate 0.3s ease 0s;
      }
    }
  }
}

//==========================================================================================
.ozon {

  @media (min-width:mixins.toEm(variables.$mobile)) {
    border-radius: mixins.toRem(20) mixins.toRem(20) 0 0;
    background: var(--angularGradient);
    background-size: 100% 200%;
    background-position: 0 100%;
  }

  @media (max-width:mixins.toEm(variables.$mobile)) {
    background: conic-gradient(from 221.46deg at 64.93% 94.59%, #0069FF 0deg, #F1107E 360deg);
    background-size: 300% 150%;
    background-position: 70% 70%;
    border-radius: mixins.toRem(10);
  }


  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: mixins.toRem(85.6);
    padding-left: mixins.toRem(20);
    padding-right: mixins.toRem(20);



    @include mixins.adaptiveValue("padding-top", 65, 50);
    @include mixins.adaptiveValue("gap", 79, 35, 1920, variables.$laptop);

    @media (max-width:mixins.toEm(variables.$laptop)) {
      text-align: center;
      flex-direction: column;
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {
      gap: mixins.toRem(30);
    }
  }

  &__title {
    color: var(--white);
    text-transform: uppercase;
    line-height: math.div(33.8, 26);

    @media (min-width:mixins.toEm(variables.$mobile)) {
      font-weight: 500;
    }

    @include mixins.adaptiveValue("font-size", 32, 26);
  }

  &__button {
    width: 100%;
    max-width: mixins.toRem(427);
    border-radius: mixins.toRem(7.84);

    @include mixins.adaptiveValue("font-size", 32, 18);
    @include mixins.adaptiveValue("height", 69, 58);
  }
}

.footer {
  background-color: var(--red);
  color: var(--light);

  @media (max-width:mixins.toEm(variables.$mobile)) {
    margin-top: -15px;
  }

  &__container {
    display: flex;
    align-items: flex-start;
    gap: mixins.toRem(10);
    justify-content: space-between;
    max-width: mixins.toRem(1350);

    @include mixins.adaptiveValue("padding-top", 80, 39);
    @include mixins.adaptiveValue("padding-bottom", 120, 71);


    @media (max-width:mixins.toEm(variables.$mobile)) {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: mixins.toRem(41);
    }
  }

  &__col {
    display: flex;
    flex-direction: column;

    a {
      display: block;
      font-size: mixins.toRem(24);
      color: var(--white);

      &:not(:last-child) {
        margin-bottom: mixins.toRem(2);
      }
    }

    span {
      font-size: mixins.toRem(14);
      line-height: math.div(24, 14);
      opacity: 0.8;
    }

    p {
      line-height: math.div(24, 16);
      font-size: mixins.toRem(16);

      .footer__year {
        line-height: inherit;
        font-size: inherit;
        opacity: 1;
      }
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {
      &:not(:last-child) {
        margin-bottom: mixins.toRem(9);
      }
    }
  }

  &__logo {
    height: mixins.toRem(57);

    img {
      height: 100%;
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {
      order: -1;
    }
  }
}